/******************************************
/* CSS
/*******************************************/

/* http://glosmotec.com/glosmotec/tools/css/reset/
   License: none (public domain)
*/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* rgba(4, 9, 30, 0.67), #B69EFE */
:root{
  --main-color: #912b2b;
  --second-color: rgb(252, 253, 170);
  --text-color: #04091eea;
  --span-color: #fef606;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  height: 5rem;
  background: rgba(4, 9, 30, 0.918);
}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.logo span, h1 span{
  color: #fef606;
}

.navigate a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}

.navigate a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigate a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.headerBtn{
  display: flex;
  align-items: center;
  gap: 5px;
}
.center .btnLogin-popup{
  width: 10rem;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;
  background: var(--main-color);
}

.center .btnLogin-popup:hover{
  background: transparent;
  border: 2px solid white;
}

/*************  MAIN  *****************/

.center{
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.67),rgba(4, 9, 30, 0.467)),url(../img/background.jpeg);
  background-size: cover;
}

.main{
  position: absolute;
  left: 8%;
  top: 40%;
  color: #fff;
}

.main h1{
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.main h3{
  font-size: 1.2rem;
  padding-bottom: .4rem;
}
.main p{
  padding-bottom: 2.8rem;
}

/*************  SECOND SECTION  *****************/

.services{
  margin: 7rem 0;
}

.centerText{
  text-align: center;
}

.centerText.big{
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.centerText.small{
  margin: 2rem 20rem;
}

.secoSect, .chooseSec{
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  gap: 4rem;
  margin: 10rem;
}

.chooseSec{
  padding-top: 4rem;
}

/* SECO - LEFT */

.secoLeft h3{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .18rem;
}

.secoLeft button{
  width: 80%;
  margin-top: 2rem;
  outline: none;
  border: none;
  height: 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  cursor: pointer;
  background: var(--text-color);
  font-size: .8rem;
  font-weight: 600;
  color: white;
}

/* SECO - RIGHT */

.secoRight{
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  gap: 1rem;
}

.secoBox{
  height: 7rem;
  width: 7rem;
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 0 1.2rem 3rem rgba(89, 101, 116, 0.386);
  transition: all 300ms ease;
}

.secoBox .secoAuto{
  text-align: right;
  border-radius: 3rem;
  background: var(--span-color);
  color: black;
  margin-left: 40%;
  padding: 2px;
  font-size: x-small;
  letter-spacing: .1rem;
}

.secoBox .secoIcon{
  justify-content: center;
  display: grid;
  margin: 10px auto;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 1.5rem;
  box-shadow: 0 1.2rem 3rem rgba(89, 101, 116, 0.386);
  align-items: center;
}

.secoBox h5{
  padding: 10px auto 0;
  text-align: center;
}

/************* CHOOSE SECTION  *****************/

.chooseText h3, .agentRight h3{
  color: var(--text-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.chooseOffers{
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  gap: 1rem;
  margin-top: 2rem;
  color: var(--text-color);
}

.cOffer{
  display: grid;
  grid-template-columns: 8% auto;
  gap: .8rem;
  align-items: center;
}

.cOffer span{
  color: var(--span-color);
  font-size: 1.1rem;
}

.chooseRight img{
  width: 100%;
  height: 50vh;
  border-radius: 20rem 20rem 10px 10px;
}

/*************  AGENT SECTION  *****************/

.agent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 5rem 8rem 5rem 0;
}

.agentLeft img{
  width: 40rem;
  border-radius: 100%;
}

.agentRight p{
  margin-bottom: 3rem;
}

.agentRight button{
  width: 12rem;
  height: 3rem;
  background: var(--span-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 7px;
  overflow: hidden;
  border: none;
  transition: .5s;
}

/* OTHER SERVICES */

.servBox{
  background: #81b2e211;
  padding: 5rem 7rem;
}

.otherServ{
  margin-top: 4rem;
}

.servFlex{
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  gap: 4rem;
  padding: 5rem 2px;
}

.servFlex.two{
  grid-template-columns: auto 40%;
}

.servLeft h3{
  color: var(--text-color);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.otherServ h3.centerText{
  font-size: 2rem;
  color: black;
  text-transform: uppercase;
}

.otherServ h3 span{
  color: var(--main-color);
}

.servLeft button{
  width: 12rem;
  background: var(--span-color);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin-top: 3rem;
  border: none;
  transition: .5s;
}

.servLeft button:hover, .agentRight button:hover{
  cursor: pointer;
  background: transparent;
  border: 2px solid #0a3f74f5;
}

.servRight img{
  width: 40rem;
  height: 20rem;
  border-radius: 10px;
  border: 5px solid #0a3f74f5;
}

/*************  TESTIMONIALS  *****************/

.testimonials{
  padding-top: 5rem;
  text-align: center;
  width: 80%;
  margin: auto;
}

.testCol{
  padding: 2.5rem 2rem;
  flex-basis: 49%;
  font-size: .85rem;
  border-radius: 10px;
  margin: 2% 0;
  text-align: left;
  background: #81b2e211;
  cursor: pointer;
  display: flex;
  border: 2px solid #0a3f74f5;
}

.testCol section p{
  line-height: 1.3rem;
  margin-bottom: .7rem;
  color: #04091eea;
}

.testimonials .testRow{
  margin: 8%;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  flex-flow: wrap;
}

.testCol img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

#dot{
  margin: auto;
}

/*************  FOOTER  *****************/

.footer{
  background: #04091eea;
  padding: 3rem 4rem;
  color: white;
}

.footFlex{
  display: grid;
  grid-template-columns: auto 30% 30%;
  gap: 1rem;
}

.footflex1 h5{
  margin-bottom: 1.4rem;
}

.footflex1 h5 span{
  color: var(--span-color);
}

.footflex1 a{
  display: block;
  color: white;
  text-decoration: none;
  margin-top: .8rem;
  font-size: .8rem;
}
.footflex1 a:hover{
  color: #5FD89E;
}

.footflex1 p{
  font-size: .8rem;
}
/**************** SECOND FOOTER PART *****************/

.footFlex.sec{
  margin-top: 2rem;
  color: #5FD89E;
  font-size: .8rem;
}

.footFlex.sec span{
  color: white;
  font-weight: 600;
}

.end{
  text-align: center;
  margin-top: 4rem;
}











/******************************************
/* ADDITIONAL STYLES
/*******************************************/
