/******************************************
/* CSS
/*******************************************/

/* http://glosmotec.com/glosmotec/tools/css/reset/
   License: none (public domain)
*/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  height: 4rem;
  background: #450202;
}

.logo{
  font-size: 2em;
  color: #fff;
  user-select: none;
}

.logo span, h1 span{
  color: #f5f378;
}

.navigate a{
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}

.navigate a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.navigate a:hover::after{
  transform: scaleX(1);
  transform-origin: left;
}

.center .btnLogin-popup{
  width: 10rem;
  height: 40px;
  border: 1px solid #fff;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  font-weight: 500;
  transition: .5s;
  background: #450202;
}

.center .btnLogin-popup:hover{
  background: transparent;
  border: 2px solid #f5f378;
}

/*************  MAIN  *****************/
.center{
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.67),rgba(4, 9, 30, 0.467)),url(../img/background.jpeg);
  background-size: cover;
}

.main{
  position: absolute;
  left: 8%;
  top: 40%;
  color: #fff;
}

.main h1{
  font-size: 2rem;
  padding-bottom: 1.5rem;
}
.main h3{
  font-size: 1.2rem;
  padding-bottom: .4rem;
}
.main p{
  padding-bottom: 2.8rem;
}

/*************  SECOND SECTION  *****************/

.secoSect{
  display: grid;
  grid-template-columns: 40% auto;
  align-items: center;
  gap: 4rem;
  margin: 5rem 10rem;
  height: 70vh;
}

/* SECO - LEFT */

.secoLeft h3{
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: .18rem;
}

.secoLeft button{
  width: 80%;
  margin-top: 2rem;
  outline: none;
  border: none;
  /* padding: 2rem auto; */
  height: 3rem;
  text-transform: uppercase;
  border-radius: 5rem;
  cursor: pointer;
  background: #f5f378;
  font-size: .8rem;
  font-weight: 600;
  color: #450202;
}

/* SECO - RIGHT */
.secoRight{
  display: grid;
  grid-template-columns: repeat(3, 10rem);
  gap: 1rem;
}

.secoBox{
  height: 7rem;
  /* background: rgb(161, 155, 155); */
  width: 7rem;
  /* box-shadow: #000; */
  padding: 5px;
  border-radius: 1rem;
  box-shadow: 0 1.2rem 3rem rgba(89, 101, 116, 0.386);
  transition: all 300ms ease;
}

.secoBox .secoAuto{
  text-align: right;
  border-radius: 3rem;
  background: #450202;
  color: #fff;
  margin-left: 40%;
  padding: 2px;
  font-size: x-small;
  letter-spacing: .1rem;
}

.secoBox .secoIcon{
  justify-content: center;
  display: grid;
  margin: 10px auto;
  width: 40px;
  height: 40px;
  padding: 5px;
  border-radius: 1.5rem;
  background: #f5f378;
  box-shadow: 0 1.2rem 3rem rgba(89, 101, 116, 0.386);
  align-items: center;
}

.secoBox h5{
  padding: 10px auto 0;
  text-align: center;
}

















/******************************************
/* ADDITIONAL STYLES
/*******************************************/
